*{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background: var(--color-bg);
}
a{
    color: unset;
    text-decoration: none;
}
.gradient__bg
{
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}
.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    font-style: normal;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}