
.gpt3__header{
    display: flex;
    flex-direction: row;
}

.gpt3__header-content{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 5rem;
    flex-direction: column;
    
}
.gpt3__header-content h1{

    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.gpt3__header-content p{
    font-family: var(--font-family);
    /* width: 30.625rem;
    height: 14.1875rem; */
    flex-shrink: 0;
    color: var(--color-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top:1.5rem;
}
.gradient_text{
        font-style: normal;
        background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.gpt3__header-content__input{
    width:100%;
    display: flex;
    flex-direction: row;
    margin:2rem 0 1rem;
}
.gpt3__header-content__input input{
    flex:2;
    width:100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size:20px;
    line-height: 28px;
    background-color: var(--color-footer);
    border:2px solid var(--color-footer);
    padding:0 1rem;
    outline:none;
    color:#fff;
    border-radius:5px 0 0 5px;
}
.gpt3__header-content__input button{
        flex: 0.6;
        width: 100%;
        min-height: 50px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 13px;
        line-height: 26px;
        background: #FF4820;
        border: 2px solid #FF4820;
        padding: 0 1rem;
        color: #fff;
        cursor: pointer;
        outline: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
}
.gpt3__header-content__people{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
     align-items: flex-start;
    margin-top: 2rem;
    
}
.gpt3__header-content__people img{
    width: 181.79px;
    height: 38px;
}
.gpt3__header-content__people p{
    margin:0 0 0 1rem;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 12px;
   text-align: center;
    font-weight: 500;
    line-height: 38px;
            
}
.gpt3__header-illustration {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}
.gpt3__header-illustration img{
        width: 100%;
        height: 100%;
}

/* responsive queries and media  */
@media screen and (max-width : 1050px) {
    .gpt3__header{
        flex-direction: column;
    }
    .gpt3__header-content{
        margin: 0 0 0 3rem;
    }
}

@media screen and (max-width:650px) {
    .gpt3__header-content h1{
        font-size: 48px;
        line-height: 60px;
    }
    .gpt3__header-content p{
        font-size: 16px;
        line-height: 24px;
    }
    .gpt3__header-content__people{
        flex-direction: column;
    }

    .gpt3__header-content__people p{
        margin: 0;
    }
         .gpt3__header-content__input input,
         .gpt3__header-content__input button {
             font-size: 16px;
             line-height: 24px;
         }
}

@media screen and (max-width:490px){
    .gpt3__header-content h1 {
            font-size: 36px;
            line-height: 48px;
        }
        .gpt3__header-content p {
            font-size: 14px;
            line-height: 24px;
        }
        .gpt3__header-content__input input,
        .gpt3__header-content__input button {
            font-size: 12px;
            line-height: 16px;
        }
}

